

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gloock&family=League+Spartan:wght@100..900&family=Playfair+Display:ital,wght@1,486&display=swap');
        
        

         #menu {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1000;
        overflow: hidden;
        background-color: #b9cfdd;
        font-family: "League Spartan", serif;
        font-size: 30px;
        text-align:  center;
        
        }
             
        h1{
            text-align: center;
             font-family: "Gloock", serif;
            font-size: 75px;
            color: #b93920;
            background-color: #b9cfdd;
        }
        
        p{
            font-family: "League Spartan", serif;
            font-size: 20px;
            color: white;
            text-align: center;
        }
        
        h3{
            
            color:#b93920;
            font-family: "League Spartan", serif;
            font-size: 30px;
            background-color: white;
        }
        body{
            
           background: #b9cfdd;
background: linear-gradient(214deg,#b9cfdd 0%, #0e2745 80%);
background: -webkit-linear-gradient(214deg,#b9cfdd 0%, #0e2745 80%);
background: -moz-linear-gradient(214deg,#b9cfdd 0%, #0e2745 80%);
        }
        
        #Nig{
            
            width: 1500px;
            height: 300px;
        }
        
        
        .Web{
                width: 600px;
                height: 350px;
                background-color:#7691ae;
                margin: 70px;
                float: left;
                text-align: center;
                font-size: 23px;
            align-content: center;
            border-top-left-radius:30px;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                border-bottom-left-radius: 30px;
                
            }
        
        .Izquierda{
            
            width: 750px;
                height: 1070px;
                background-color:#b9cfdd;
                margin: 10px;
                float: left;
                text-align: center;
            border-top-left-radius:30px;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                border-bottom-left-radius: 50px;
            box-shadow: 17px 18px 20px 8px rgba(118,145,174,0.75);
-webkit-box-shadow: 17px 18px 20px 8px rgba(118,145,174,0.75);
-moz-box-shadow: 17px 18px 20px 8px rgba(118,145,174,0.75);
        }
        
        .Derecha{
            
            width: 670px;
                height: 400px;
                background-color:#537189;
                margin: 30px;
                float: right;
                text-align: center;
                border-top-left-radius:30px;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 50px;
                border-bottom-left-radius: 30px;
            box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
-webkit-box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
-moz-box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
        }
    
        .Izquierda1{
            
               width: 670px;
                height: 400px;
                background-color:#537189;
                margin: 30px;
                float: left;
                text-align: center;
            list-style: none;
            border-top-left-radius:30px;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 50px;
                border-bottom-left-radius: 30px;
            box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
-webkit-box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
-moz-box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
            
        }
        
        .Derecha1{
          
             width: 670px;
                height: 400px;
                background-color:#b9cfdd;
                margin: 30px;
                float: right;
                text-align: center;
                align-content: center;
            border-top-left-radius:30px;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 50px;
                border-bottom-left-radius: 30px;
            box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
-webkit-box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
-moz-box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
            
        }
        li{
            
            font-family:"League Spartan", bold;
            color:#0e2745;
            font-size: 25px;
        }
        a{color: white;
        
        text-decoration: none}
        
        .cuadrado{  
            width: 200px;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
         .corazon {
        color: #ffffff;
       }
        .LOL{
            padding:15px;
            width: 600px;
            height: 350px;
            background-color:#7691ae;
            margin: 70px;
            float: left;
            text-align: center;
            font-size: 23px;
            align-content: center;
                border-top-left-radius:30px;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 50px;
                border-bottom-left-radius: 30px;
            box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
-webkit-box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
-moz-box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
            
        }
        
        #IMG{
            
            height:400px;
            align-content: center;
            text-align: center;
         box-shadow: 17px 18px 20px 8px rgba(118,145,174,0.75);
-webkit-box-shadow: 17px 18px 20px 8px rgba(118,145,174,0.75);
-moz-box-shadow: 17px 18px 20px 8px rgba(118,145,174,0.75);

        }

        .o{
            
            width: 650px;
            height: 400px;
            background-color:#537189;
            margin: 30px;
            float:right;
            text-align:center;
            align-content:center;
        border-top-left-radius:30px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 50px;
            border-bottom-left-radius: 30px;
        box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
-webkit-box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
-moz-box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
       font-family:"League Spartan", serif; 
       font-size: 40px;       

        }

        .rectangulo {
            width: 500px;
            height: 400px;
            background-color:#537189;
            margin: 100px auto;
            animation: temblor 0.3s infinite;
            text-align: center;
            font-family:"League Spartan", bold;
            align-content: center;
            font-size: 100px;
            margin-left: -800px;
            box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
            -webkit-box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
            -moz-box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
          }
      
          @keyframes temblor {
            0% { transform: translate(0px, 0px) rotate(0deg); }
            25% { transform: translate(1px, -1px) rotate(-1deg); }
            50% { transform: translate(-1px, 1px) rotate(1deg); }
            75% { transform: translate(1px, 1px) rotate(0deg); }
            100% { transform: translate(0px, 0px) rotate(-1deg); }
          }

           
          .blue{

            text-align: center; /* Centra los elementos inline-block */
            padding:10px;
            margin-left: -400px;
      
          }

          .blu1{

            display: inline-block;
      width: 150px;
      height: 150px;
      margin-inline:inherit;
      margin-left:-350px;
      background-color: lightblue;
      text-align: center;
      vertical-align: top;
      line-height: 150px;
      font-weight: bold;

          }

          .blu2{

            display: inline-block;
      width: 150px;
      height: 150px;
      margin-inline:inherit;
      margin-left: 350px;
      background-color: lightblue;
      text-align: center;
      vertical-align: top;
      line-height: 150px;
      font-weight: bold;

          }

          .blu3{

            display: inline-block;
      width: 150px;
      height: 150px;
      margin-inline:inherit;
      margin-left: 350px;
      background-color: lightblue;
      text-align: center;
      vertical-align: top;
      line-height: 150px;
      font-weight: bold;

          }

          a{

background-color: #7691ae;
font-family:"League Spartan", serif; 
text-align: center;
align-content: center;
font-size: 60px;
          }

          .imgg{
            width: 350px;
            height:500px ;
          }

          footer{

        align-content: center;  
        text-align: center;    
        background-color: #7691ae;  
        align-content: end;    
        margin-top: 500px;
        margin-left: -800px;
          }

          .k{
            width: 570px;
            height: 400px;
            background-color:#b9cfdd;
            margin: 30px;
            float: right;
            text-align: center;
            align-content: center;
        border-top-left-radius:30px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 50px;
            border-bottom-left-radius: 30px;
        box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
-webkit-box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
-moz-box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
          }

          .libre{
            width: 670px;
            height: 400px;
            background-color:#b9cfdd;
            margin: 30px;
            float: right;
            text-align: center;
            align-content: center;
        border-top-left-radius:30px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 50px;
            border-bottom-left-radius: 30px;
        box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
-webkit-box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);
-moz-box-shadow: -14px 18px 28px 7px rgba(185,207,221,0.75);

          }